/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define HYPER LC(LS(LG(LALT)))

// LAYER DEFINITIONS
#define BASE     0
#define NAV      1
#define SYM      2
#define MAGIC    3
#define GAME     4 // Clean QWERTY for gaming
#define FACTORY  5 

/ {
    /* ---------------------------------------------------------
       CUSTOM BEHAVIORS
       --------------------------------------------------------- */
    behaviors {
        // HOME ROW MODS: Tap for Char, Hold for Mod
        // "Balanced" flavor is best for fast typists.
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        // MAGIC KEY: Tap for Magic Layer, Hold for Status
        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };
    };

    /* ---------------------------------------------------------
       MACROS
       --------------------------------------------------------- */
    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_STATUS>;
        };
        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 0>;
        };
        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 1>;
        };
        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 2>;
        };
        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 3>;
        };
    };

    /* ---------------------------------------------------------
       COMBOS
       --------------------------------------------------------- */
    combos {
        compatible = "zmk,combos";
        
        // These combos only work on the BASE layer (Productivity).
        // They are disabled in GAME mode.

        // ESCAPE: J + K (Standard Vim mash)
        combo_esc {
            timeout-ms = <50>;
            key-positions = <41 42>; 
            bindings = <&kp ESC>;
            layers = <BASE>;
        };

        // TAB: D + F (Left hand home row)
        combo_tab {
            timeout-ms = <50>;
            key-positions = <38 39>;
            bindings = <&kp TAB>;
            layers = <BASE>;
        };

        // COLON: L + ; (Right pinky area, fast roll)
        combo_colon {
            timeout-ms = <50>;
            key-positions = <43 44>;
            bindings = <&kp COLON>;
            layers = <BASE>;
        };
    };

    /* ---------------------------------------------------------
       KEYMAP
       --------------------------------------------------------- */
    keymap {
        compatible = "zmk,keymap";

        // LAYER 0: PRODUCTIVITY BASE (QWERTY + HRMs)
        // Mods: G/H=None, F/J=Shift, D/K=Ctrl, S/L=Alt, A/;=GUI
        default_layer {
            display-name = "Base";
            bindings = <
            &kp F1         &kp F2      &kp F3      &kp F4      &kp F5                                                                                           &kp F6      &kp F7      &kp F8      &kp F9      &kp F10
            &kp EQUAL      &kp N1      &kp N2      &kp N3      &kp N4      &kp N5                                                                               &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS
            &kp TAB        &kp Q       &kp W       &kp E       &kp R       &kp T                                                                                &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSLH
            &kp ESC        &hm LGUI A  &hm LALT S  &hm LCTRL D &hm LSHFT F &kp G                                                                                &kp H       &hm RSHFT J &hm RCTRL K &hm RALT L  &hm RGUI SEMI &kp SQT
            &kp GRAVE      &kp Z       &kp X       &kp C       &kp V       &kp B       &kp LSHFT   &kp LCTRL   &kp LALT          &kp LGUI    &kp RCTRL   &kp RSHFT    &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp PG_UP
            
            &magic MAGIC 0 &kp HOME    &kp END     &kp LEFT    &kp RIGHT               &lt NAV SPACE &kp DEL   &kp LGUI          &kp RGUI    &kp BSPC    &lt SYM RET              &kp UP      &kp DOWN    &kp LBKT    &kp RBKT    &kp PG_DN
            >;
        };

        // LAYER 1: NAVIGATION (Vim style + Windows management)
        nav_layer {
            display-name = "Nav";
            bindings = <
            &trans     &trans       &trans       &trans       &trans                                                                                                &trans      &trans      &trans      &trans      &trans
            &trans     &trans       &trans       &trans       &trans       &trans                                                                                   &trans      &trans      &trans      &trans      &trans      &trans
            &trans     &trans       &trans       &trans       &trans       &trans                                                                                   &trans      &kp PG_DN   &kp PG_UP   &trans      &trans      &trans
            &trans     &kp LGUI     &kp LALT     &kp LCTRL    &kp LSHFT    &trans                                                                                   &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &trans      &trans
            &trans     &kp LC(Z)    &kp LC(X)    &kp LC(C)    &kp LC(V)    &trans      &trans      &trans      &trans            &trans      &trans      &trans     &trans      &kp HOME    &kp END     &trans      &trans      &trans
            &trans     &trans       &trans       &trans       &trans                   &trans      &trans      &trans            &trans      &trans      &trans                 &trans      &trans      &trans      &trans      &trans
            >;
        };

        // LAYER 2: SYMBOLS (Programmer / Vim Optimized)
        // Designed for rolls. Brackets on Home Row Right.
        sym_layer {
            display-name = "Sym";
            bindings = <
            &trans     &trans       &trans       &trans       &trans                                                                                                &trans      &trans      &trans      &trans      &trans
            &trans     &trans       &trans       &trans       &trans       &trans                                                                                   &trans      &trans      &trans      &trans      &trans      &trans
            &trans     &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT                                                                                &kp CARET   &kp AMPS    &kp STAR    &kp UNDER   &kp PLUS    &trans
            &trans     &kp TILDE    &kp GRAVE    &kp MINUS    &kp UNDER    &kp EQUAL                                                                                &kp LBRC    &kp LPAR    &kp RPAR    &kp RBRC    &kp COLON   &kp DQT
            &trans     &trans       &kp PIPE     &kp PLUS     &kp BSLH     &trans      &trans      &trans      &trans            &trans      &trans      &trans     &kp LBKT    &kp RBKT    &kp LT      &kp GT      &kp QMARK   &trans
            &trans     &trans       &trans       &trans       &trans                   &trans      &trans      &trans            &trans      &trans      &trans                 &trans      &trans      &trans      &trans      &trans
            >;
        };

        // LAYER 3: MAGIC (System Control + Gamemode Toggle)
        magic_layer {
            display-name = "Magic";
            bindings = <
            &bt BT_CLR  &none        &none        &none        &none                                                                                                &none       &none       &none       &none       &bt BT_CLR_ALL
            &none       &none        &none        &none        &none        &none                                                                                   &none       &none       &none       &none       &none       &none
            &none       &rgb_ug RGB_SPI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                             &none       &none       &none       &none       &none       &none
            &bootloader &rgb_ug RGB_SPD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                             &none       &none       &none       &none       &none       &bootloader
            &sys_reset  &none        &none        &none        &none        &none       &bt_2       &bt_3       &none            &none       &none       &none      &none       &none       &none       &none       &none       &sys_reset
            &none       &none        &none        &none        &none                    &bt_0       &bt_1       &out OUT_USB     &to BASE    &to GAME    &to FACTORY            &none       &none       &none       &none       &none
            >;
        };

        // LAYER 4: GAMING MODE (Pure QWERTY)
        // No Home Row Mods. No Layer Taps on Space. Sticky keys removed.
        game_layer {
            display-name = "Game";
            bindings = <
            &kp F1         &kp F2      &kp F3      &kp F4      &kp F5                                                                                           &kp F6      &kp F7      &kp F8      &kp F9      &kp F10
            &kp EQUAL      &kp N1      &kp N2      &kp N3      &kp N4      &kp N5                                                                               &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS
            &kp TAB        &kp Q       &kp W       &kp E       &kp R       &kp T                                                                                &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSLH
            &kp ESC        &kp A       &kp S       &kp D       &kp F       &kp G                                                                                &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
            &kp LSHFT      &kp Z       &kp X       &kp C       &kp V       &kp B       &kp LSHFT   &kp LCTRL   &kp LALT          &kp LGUI    &kp RCTRL   &kp RSHFT  &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp PG_UP
            
            &magic MAGIC 0 &kp HOME    &kp END     &kp LEFT    &kp RIGHT               &kp SPACE   &kp DEL     &kp LGUI          &kp RGUI    &kp BSPC    &kp RET                &kp UP      &kp DOWN    &kp LBKT    &kp RBKT    &kp PG_DN
            >;
        };

        // LAYER 5: FACTORY TEST
        factory_test_layer {
            display-name = "Test";
            bindings = <
            &kp N0   &kp N6   &kp N2   &kp N8   &kp N4                                                                                           &kp N4   &kp N8   &kp N2   &kp N6   &kp N0
            &kp N1   &kp N7   &kp N3   &kp N9   &kp N5   &kp N0                                                                         &kp N0   &kp N5   &kp N9   &kp N3   &kp N7   &kp N1
            &kp N2   &kp N8   &kp N4   &kp N0   &kp N6   &kp N1                                                                         &kp N1   &kp N6   &kp N0   &kp N4   &kp N8   &kp N2
            &kp N3   &kp N9   &kp N5   &kp N1   &kp N7   &kp N2                                                                         &kp N2   &kp N7   &kp N1   &kp N5   &kp N9   &kp N3
            &kp N4   &kp N0   &kp N6   &kp N2   &kp N8   &kp N3   &kp N4   &kp N5   &kp N6      &kp N6   &kp N5   &kp N4   &kp N3   &kp N8   &kp N2   &kp N6   &kp N0   &kp N4
            &kp N5   &kp N1   &kp N7   &kp N3   &kp N9            &kp N7   &kp N8   &kp N9      &kp N9   &kp N8   &kp N7            &kp N9   &kp N3   &kp N7   &kp N1   &kp N5
            >;
        };
    };
};
