/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define HYPER LC(LS(LG(LALT)))

// LAYER DEFINITIONS
#define BASE 0
#define NAV  1
#define SYM  2
#define MAGIC 3
#define FACTORY_TEST 4

/ {
    /* ---------------------------------------------------------
       CUSTOM BEHAVIORS & CONFIGURATION
       --------------------------------------------------------- */
    behaviors {
        // Sticky Key Configuration (Callum Style)
        // Tippe Modifier kurz an, lass los, tippe Buchstaben.
        sk: sticky_key {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <2000>; // Modifier bleibt 2 Sek aktiv wenn nichts gedrückt wird
            quick-release;             // Modifier löst sofort nach dem nächsten Tastendruck
            ignore-modifiers;          // Ermöglicht Modifier-Chaining (z.B. Ctrl+Shift)
        };

        // Standard Magic Combo Behavior (Factory Default)
        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };
    };

    /* ---------------------------------------------------------
       COMBOS (Speed Hacks)
       --------------------------------------------------------- */
    combos {
        compatible = "zmk,combos";
        
        // ESCAPE auf der Home Row (Linker Mittel- + Zeigefinger)
        // Positionen basieren auf Glove80 Matrix: T(24) + S(25)
        combo_esc {
            timeout-ms = <50>;
            key-positions = <24 25>; 
            bindings = <&kp ESC>;
        };

        // COLON (:) auf der Home Row (Rechter Zeige- + Mittelfinger)
        // Positionen: H(28) + A(29) -> Shift + ;
        combo_colon {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp COLON>;
        };
        
        // OPTIONAL: TAB auf Linker Ring- + Mittelfinger (R+T)
        combo_tab {
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&kp TAB>;
        };
    };

    /* ---------------------------------------------------------
       MACROS (Factory Defaults)
       --------------------------------------------------------- */
    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 3>;
        };
    };

    /* ---------------------------------------------------------
       KEYMAP
       --------------------------------------------------------- */
    keymap {
        compatible = "zmk,keymap";

        // LAYER 0: GALLIUM V2 + CALLUM MODS
        default_layer {
            bindings = <
            &kp F1         &kp F2   &kp F3   &kp F4   &kp F5                                                                                 &kp F6   &kp F7   &kp F8   &kp F9    &kp F10
            &kp EQUAL      &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                                                                        &kp N6   &kp N7   &kp N8   &kp N9    &kp N0    &kp MINUS
            
            // GALLIUM TOP ROW
            &kp TAB        &kp B    &kp L    &kp D    &kp C    &kp V                                                                         &kp J    &kp Y    &kp O    &kp U     &kp COMMA &kp BSLH
            
            // GALLIUM HOME ROW (Speed Zone)
            &trans         &kp N    &kp R    &kp T    &kp S    &kp G                                                                         &kp P    &kp H    &kp A    &kp E     &kp I     &kp SQT
            
            // GALLIUM BOTTOM ROW
            &kp GRAVE      &kp Q    &kp X    &kp M    &kp W    &kp Z    &sk LSHFT  &sk LCTRL  &sk LALT      &sk RALT  &sk RCTRL  &sk RSHFT   &kp K    &kp F    &kp SQT  &kp SEMI  &kp DOT   &kp PG_UP
            
            // THUMBS (Callum Style & Layer Taps)
            // Left: Magic, Home, End, Left, Right | Thumb Cluster: Backspace, Del, Gui, Gui, Ret, Space
            // ANGEPASST FÜR GLOVE80 THUMB CLUSTER LOGIK
            &magic MAGIC 0 &kp HOME &kp END  &kp LEFT &kp RIGHT         &kp BSPC   &kp DEL    &sk LGUI      &sk RGUI  &lt SYM RET &lt NAV SPACE       &kp UP   &kp DOWN &kp LBKT  &kp RBKT  &kp PG_DN
            >;
        };

        // LAYER 1: NAVIGATION (Vim Style) & EDITING
        // Activated by holding SPACE (Left Thumb)
        nav_layer {
            bindings = <
            &trans     &trans       &trans       &trans       &trans                                                                                      &trans     &trans    &trans    &trans    &trans
            &trans     &trans       &trans       &trans       &trans       &trans                                                                         &trans     &trans    &trans    &trans    &trans    &trans
            &trans     &kp LG(Z)    &kp LG(X)    &kp LG(C)    &kp LG(V)    &trans                                                                         &kp PG_UP  &kp HOME  &kp UP    &kp END   &trans    &trans
            &trans     &sk LSHFT    &sk LCTRL    &sk LALT     &sk LGUI     &trans                                                                         &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT &trans    &trans
            &trans     &trans       &trans       &trans       &trans       &trans     &trans     &trans     &trans        &trans    &trans    &trans      &trans     &trans    &trans    &trans    &trans    &trans
            &trans     &trans       &trans       &trans       &trans                  &trans     &trans     &trans        &trans    &trans    &trans                 &trans    &trans    &trans    &trans    &trans
            >;
        };

        // LAYER 2: SYMBOLS & NUMBERS
        // Activated by holding ENTER (Right Thumb)
        sym_layer {
            bindings = <
            &trans     &trans       &trans       &trans       &trans                                                                                      &trans     &trans    &trans    &trans    &trans
            &trans     &trans       &trans       &trans       &trans       &trans                                                                         &trans     &trans    &trans    &trans    &trans    &trans
            &trans     &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT                                                                      &kp CARET  &kp AMPS  &kp STAR  &kp UNDER &kp EQUAL &trans
            // Symbole: Öffnende Klammern auf starken Fingern links
            &trans     &kp GRAVE    &kp LBRC     &kp LPAR     &kp LBKT     &kp MINUS                                                                      &kp PLUS   &kp RBKT  &kp RPAR  &kp RBRC  &kp BSLH  &trans
            &trans     &trans       &trans       &trans       &trans       &trans     &trans     &trans     &trans        &trans    &trans    &trans      &kp PIPE   &trans    &trans    &trans    &trans    &trans
            &trans     &trans       &trans       &trans       &trans                  &trans     &trans     &trans        &trans    &trans    &trans                 &trans    &trans    &trans    &trans    &trans
            >;
        };

        // LAYER 3: MAGIC (System Control - unverändert)
        magic_layer {
            bindings = <
            &bt BT_CLR    &none            &none            &none            &none                                                                                                           &none      &none      &none      &none      &bt BT_CLR_ALL
            &none         &none            &none            &none            &none            &none                                                                               &none      &none      &none      &none      &none      &none
            &none         &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                                                     &none      &none      &none      &none      &none      &none
            &bootloader   &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                                                     &none      &none      &none      &none      &none      &bootloader
            &sys_reset    &none            &none            &none            &none            &none            &bt_2      &bt_3      &none         &none      &none      &none      &none      &none      &none      &none      &none      &sys_reset
            &none         &none            &none            &none            &none                             &bt_0      &bt_1      &out OUT_USB  &none      &none      &none                 &none      &none      &none      &none      &to FACTORY_TEST
            >;
        };

        // LAYER 4: FACTORY TEST (unverändert)
        factory_test_layer {
            bindings = <
            &kp N0   &kp N6   &kp N2   &kp N8   &kp N4                                                                              &kp N4   &kp N8   &kp N2   &kp N6   &kp N0
            &kp N1   &kp N7   &kp N3   &kp N9   &kp N5   &kp N0                                                            &kp N0   &kp N5   &kp N9   &kp N3   &kp N7   &kp N1
            &kp N2   &kp N8   &kp N4   &kp N0   &kp N6   &kp N1                                                            &kp N1   &kp N6   &kp N0   &kp N4   &kp N8   &kp N2
            &kp N3   &kp N9   &kp N5   &kp N1   &kp N7   &kp N2                                                            &kp N2   &kp N7   &kp N1   &kp N5   &kp N9   &kp N3
            &kp N4   &kp N0   &kp N6   &kp N2   &kp N8   &kp N3   &kp N4   &kp N5   &kp N6         &kp N6   &kp N5   &kp N4   &kp N3   &kp N8   &kp N2   &kp N6   &kp N0   &kp N4
            &kp N5   &kp N1   &kp N7   &kp N3   &kp N9            &kp N7   &kp N8   &kp N9         &kp N9   &kp N8   &kp N7            &kp N9   &kp N3   &kp N7   &kp N1   &kp N5
            >;
        };
    };
};
